@font-face {
    font-family: Allura;
    src: url(fonts/Allura-Regular.ttf);
}

@font-face {
    font-family: Arabic;
    src: url(fonts/AwalRamadhan-eZ2WB.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSansBold;
    src: url(fonts/OpenSans-Bold.ttf);
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
    font-family: OpenSansBold;
}

p, li, pre>li {
    font-family: OpenSans;
    font-size: 18px;
}

pre>li {
    list-style: none;
}

body {
    margin: 0;
}

.navbar {
    background-color: #102439;
    width: 100%;
    height:46px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 2;
    
}

.navlogo {
    float: right;
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: OpenSansBold;
}

.nav_button {
    float: left;
}

#active_nav {
    background-color: #444444;
}

.nav_link {
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #342e37;
    font-family: OpenSans;
    font-size: 13px;
}

.nav_link:hover {
    background-color: #3C91E6;
}

h1 {
    margin-left: 10px;
}

#banner_container {
    height: 100vh;
    background: no-repeat center right fixed url(images/Banner.png);
    background-size:cover;
    padding-bottom: 0;
    margin-bottom: 0;
}

.layer {
    background-color: rgba(56, 96, 143, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#main_title {
    color: white;
    position: relative;
    top: 40%;
    max-width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro {
    font-family: Allura;
    font-size:4vh;
    font-style: italic;
    margin-bottom: 0;
    padding-bottom: 10px;
}

#name_title {
    margin-top: 0;
    padding-top: 5px;
    border-top: solid 1px white;
    font-size: 7vh;
    font-family: Arabic;
    font-weight: bolder;
    display: inline-block;
}

.title {
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}

.proj_title {
    color: white;
}

.sub_title {
    font-family: OpenSansBold;
}

#profile, #projects {
    padding-top: 1px;
    padding-bottom: 20px;
    margin-top: 0;
    background-color: #ffffff;
}

#projects {
    background: #1E1E24;
}

#short_intro p {
    text-align: center;
    font-family: OpenSans;
    font-size: 24px;
    
}

.line {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.sec_cols {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about_text {
    line-height: 1.5;
    font-family: OpenSans;
}

#about_me {
    width: 30%;
    margin-left: 13%;
    margin-right: 30px;
    flex: 2;
    text-align: left;
}

#profile_photo {
    width: 30%;
    justify-content: center;
    flex: 1;
    margin-right: 30px;
    margin-left: 30px;
}

#details {
    width: 30%;
    flex: 2;
    margin-left: 30px;
    margin-right: 13%;
}

.contact {
    display: flex;
    align-items: center;
}

#li_link {
    text-decoration: none;
}

#education {
    font-size: 16px;
    width: 30%;
    margin-left: 13%;
    margin-right: 30px;
    flex: 2;
    text-align: left;
}

#hobbies {
    width: 30%;
    justify-content: center;
    flex: 1;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 14px;
}

#languages {
    width: 30%;
    flex: 2;
    margin-left: 30px;
    margin-right: 10%;
    font-size: 14px;
}

#languages > ul{
    list-style-type: none;
}

.col1_2 {
    width: 30%;
    margin-left: 13%;
    margin-right: 30px;
    flex: 2;
    text-align: left;
}

.col2_2 {
    width: 30%;
    flex: 2;
    margin-left: 30px;
    margin-right: 13%;
}

#experience {
    padding-top: 1px;
    padding-bottom: 20px;
    margin-top: 0;
    background-color: #7BAE7F;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.card-space {
    margin: auto 250px auto 250px;
    display: flex;
    flex-flow: row wrap;

}

.single_body {
    display: flex;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: #342e37;
    font-family: OpenSans;
    color: white;
}

.card {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;

    color: #EEE5E9;
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;

    transition: transform 500ms ease;
}

.card:hover, .card:focus-within {
    transform: scale(1.05);
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(hsl(0 0% 0% / 0),
                                hsl(20 0% 0% / 0.3) 20%,
                                hsl(0 0% 0% / 1)
    );
}

.card:hover .card-content > *:not(.card-title, .card-type),
.card:focus-within .card-content > *:not(.card-title, .card-type) {
    opacity: 1;
    transition-delay: 800ms;
}

.card-title {
    position: relative;
    width: max-content;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: -3px;
    width: calc(100% + var(--padding));
    background: hsl(142, 90%, 61%);
    
    transform-origin: left;
    transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scaleX(1);
}

.card-info {
    color: rgb(255 255 255 / 0.8)
}

@media (hover) {
    .card-content {
        transform: translateY(50%);
        transition: transform 500ms ease;
    }
    .card:hover .card-content, .card:focus-within .card-content {
        transform: translateY(0);
        transition-delay: 500ms;
    }
    
    .card:focus-within .card-content {
        transition-duration: 0ms;
    }
    
    .card-content > *:not(.card-title, .card-type) {
        opacity: 0;
        transition: opacity 500ms linear;
    }

    .card-title::after {
        transform: scaleX(0);
    }
}

.card-button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #342e37;
    background-color: hsl(142, 90%, 61%);
    padding: .53em 1.25em;
    border-radius: 0.25em;
}

.card-button:hover, .card-button:focus {
    background-color: #EEE5E9;
}

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after{
        animation-duration: 0.01ms
        !important;
        animation-iteration-count: 1
        !important;
        transition-duration: 0.01ms
        !important;
        scroll-behavior: auto 
        !important;
        transition-delay: 0ms 
        !important;
    }
}