#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.react-multi-carousel-list {
  padding: 0 0 2rem 0;
  margin: 0 2rem;
}

.cardSlide:hover {
  transition: transform 500ms ease;
  transform: scale(1.05);
}

.cardBgSlide:hover {
  transition: ease-in 100ms;
}

